* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}



/* Anmation */

@keyframes updown {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}



.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}


/* ---------*/



body {
    background: linear-gradient(180deg, #06001F 0%, #001D48 83.33%, #07011F 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container-header {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s ease-in;
}
.container-header-fixed {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    transition: .3s ease-in;

}

.container-info-fixed{
    margin-left: 10vh;
}
.container-info-fixed .name {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.container-info-fixed .ocupation{
    font-weight: normal;
    font-size: 15px;
    line-height: 42px;
    color: #8F00FF;
}

.container-header-fixed .avatar{
    margin-left: 1000px;
}



.container-header-fixed .avatar img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.container-info {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.name {
    font-weight: bold;
font-size: 48px;
line-height: 83px;

color: #FFFFFF;
}

.ocupation {
    font-weight: normal;
font-size: 25px;
line-height: 42px;

color: #8F00FF;
}

.description {
    font-weight: normal;
font-size: 24px;
line-height: 31px;
text-align: center;
width: 927px;
color: #818181;

}


.avatar img{
    margin-top: 60px; 
    width: 328px;
height: 328px;
}

.arrow-down{
    display: flex;
    margin-top: 50px;
}

.icon-arrow-down{
    width:35px;
    height: 35px;
    background: url(./assets/Arrow.png) 50% no-repeat;
    background-size: contain;
    
    animation: updown 0.9s alternate infinite ease-in-out;
}

.tech_skils {
    margin-top: 50px;
}

.tech_skils h2 {
    font-weight: bold;
font-size: 35px;
line-height: 62px;

color: #FFFFFF;
}


.tech_skils .content_tech h3 {
    font-weight: 600;
font-size: 27px;
line-height: 47px;
/* identical to box height */


color: #8F00FF
}

.tech_skils .content_tech p {
    font-weight: normal;
font-size: 15px;
line-height: 31px;

color: #FFFFFF;
}


/* Media Querys */


@media screen and (max-width: 500px){
    .description {
        width: 320px;
        font-size: 20px;
    }

    .name {
        font-size: 40px;
    }

    .ocupation{
        font-size: 20px;
    }

    .avatar img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-height: 670px){
    
    .arrow-down{
        margin-top:30px;
    }
    .avatar img {
        width: 200px;
        height: 200px;
    }
}



@media screen and (max-width: 1220px) {
    .container-header-fixed .avatar {
        margin-left: 805px;
    }    
   
    }
   
   
   @media screen and (max-width: 763px) 
   {
    .container-header-fixed .avatar {
        margin-left: 390px;
    }    
   
   
   }
   
   @media screen and (max-width: 501px) 
   {
    .container-header-fixed .avatar {
        margin-left: 30px;
    }    

    
    .container-info-fixed {
        margin-left: 3vh;
     }
   }
   
   @media screen and (max-width: 376px) 
   {
    .container-header-fixed .avatar {
        margin-left: 30px;
   
    }   
   
    .container-header-fixed .avatar img {
        width: 80px !important;
        height: 80px !important;
   
    }
    
    .container-info-fixed {
       margin-left: 3vh;
    }
   }
   